#detalhes-pedido-section {
    margin: 20px 0;
}

#detalhes-pedido {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#detalhes-pedido h2, #detalhes-pedido h3 {
    margin-bottom: 20px;
    color: #4CAF50;
}

#detalhes-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#detalhes-tabela td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#itens-pedido {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#itens-pedido li {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Ajuste conforme necessário */
    box-sizing: border-box;
}

#itens-pedido img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#itens-pedido p {
    margin: 0;
    font-size: 14px;
}

#itens-pedido strong {
    display: block;
    margin-bottom: 5px;
}
