

#detalhes-pedido-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

#detalhes-pedido {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.titulo-detalhes-pedido {
    margin-bottom: 20px;
    color: #007BFF;
    text-align: center;
}

.titulo-itens-pedido {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007BFF;
}

.lista-itens-pedido {
    list-style: none;
    padding: 0;
}

.item-produto {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.imagem-produto {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px; /* Aumenta o tamanho da imagem */
    height: 150px; /* Aumenta o tamanho da imagem */
}

.info-produto {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permite que o texto ocupe o restante do espaço */
}

.nome-produto, .quantidade-produto, .valor-produto, .categoria-produto, .tipo-produto, .descricao-produto {
    margin: 5px 0;
    line-height: 1.5;
    color: #555;
}

.data-pedido, .tipo-pagamento, .valor-total, .numero-cartao, .quantidade-parcelas, .valor-parcelas {
    margin: 5px 0;
    color: #333;
}
