/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Estilos de Navegação */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  max-width: 97%;
}

.cabecalho {
  display: flex;
  justify-content: right;
  margin: 0;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil a {
  text-decoration: none;
}

.logo {
  display: flex;
  margin-left: 5rem;
  align-items: center;
  gap: 30px;
}

.search-bar {
  margin-top: 14px;
  position: relative;
}

.search-bar input {
  padding: 8px 40px 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 50px;
  width: 500px;
}

.search-bar img {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right select,
.nav-right a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 8px;
}

.navegacao-topicos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  padding: 10px 0;
  margin: 10px;
}

.navegacao-topicos li {
  position: relative;
  padding: 0 15px;
}

.navegacao-topicos li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.navegacao-topicos a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
}

.navegacao-topicos a:hover {
  color: #007BFF;
}

/* Estilos do Banner */
.banner {
  display: grid;
  place-items: center;
}

.banner img {
  margin-top: 2rem;
  max-width: 90%;
}

/* Estilos Saiba Mais */
.saiba-mais {
  display: flex;
  gap: 30px;
  font-size: 15px;
  text-align: center;
}

.saiba-mais > div::before {
  content: attr(data-info);
  margin-right: 10px;
  color: #555;
  font-weight: bold;
}

/* Estilos dos Produtos */
.produtos {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
  gap: 30px;
  justify-content: center;
}

.notebook {
  display: grid;
  padding: 20px;
  max-width: 300px; /* Limitar a largura do container */
  background: #FFFFFF;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notebook img {
  max-width: 100%; /* Garantir que a imagem não ultrapasse o tamanho do container */
  height: auto;
  display: block;
  margin: 0 auto;
}

.notebook:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

.notebook h1,
.notebook p,
.notebook a {
  text-align: center;
}

.notebook a {
  display: inline-block;
  text-decoration: none;
  color: #f8f8f8;
  font-weight: bold;
  background: #007BFF;
  border-radius: 4px;
  padding: 10px 20px;
}

.notebook a:hover {
  background: #0056b3;
}


/* Estilo para o contêiner dos botões */
.botoes-acoes {
  display: flex;
  justify-content: space-between; /* Espaçamento entre os botões */
  margin-top: 10px; /* Margem superior para separar do restante do conteúdo */
}

/* Estilo individual para os botões, se necessário */
.botoes-acoes button {
  padding: 1vw;
  width: 40%;
  margin: 0 5px; /* Margem entre os botões */
  font-weight: bold;
  color: #000000;
}

.btn-remover {
  background-color: #EB1E1E;
}

.btn-editar {
  background-color: #30E738;
}


/* Estilo para os botões de remover e editar */ 
.btn-remover, .btn-editar { 

  cursor: pointer; 
 
} 

/* Estilo dos botões ao passar o mouse */ 
.btn-remover:hover, .btn-editar:hover { 
  opacity: 0.7; 
  /* Opacidade total ao passar o mouse */ 
}


contact {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}
.depoimentos h1 {
  text-align: center;
  margin: 2rem;
}

.contact-container {
  position: absolute;
  bottom: -80rem;
  right: 10rem;;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


footer {
  background-color: #f8f8f8;
  color: black;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  color: black;
}

.footer-section a {
  color: black;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.footer-bottom p {
  margin: 0;
}
