/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Estilos de Navegação */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  max-width: 97%;
}

.cabecalho {
  display: flex;
  justify-content: right;
  margin: 0;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil a {
  text-decoration: none;
}

.logo {
  display: flex;
  margin-left: 5rem;
  align-items: center;
  gap: 30px;
}

.search-bar {
  margin-top: 14px;
  position: relative;
}

.search-bar input {
  padding: 8px 40px 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 50px;
  width: 500px;
}

.search-bar img {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right select,
.nav-right a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 8px;
}

.navegacao-topicos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  padding: 10px 0;
  margin: 10px;
}

.navegacao-topicos li {
  position: relative;
  padding: 0 15px;
}

.navegacao-topicos li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.navegacao-topicos a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
}

.navegacao-topicos a:hover {
  color: #007BFF;
}

/* Estilos do Banner */
.banner {
  display: grid;
  place-items: center;
}

.banner img {
  margin-top: 2rem;
  max-width: 90%;
}

/* Estilos Saiba Mais */
.saiba-mais {
  display: flex;
  gap: 30px;
  font-size: 15px;
  text-align: center;
}

.saiba-mais > div::before {
  content: attr(data-info);
  margin-right: 10px;
  color: #555;
  font-weight: bold;
}



/* Estilos dos Produtos */
.produtos {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
  gap: 30px;
  justify-content: center;
}

.notebook {
  display: grid;
  padding: 20px;
  width: 300px; /* Define uma largura fixa para todos os contêineres */
  height: 500px; /* Define uma altura fixa para todos os contêineres */
  background: #FFFFFF;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  grid-template-rows: 150px auto auto auto; /* Garante que a imagem, o conteúdo e os botões tenham espaços definidos */
}

.notebook img {
  max-width: 100%; /* Garantir que a imagem não ultrapasse o tamanho do container */
  height: 150px; /* Define uma altura fixa para as imagens */
  display: block;
  margin: 0 auto;
}

.notebook h1 {
  text-align: center;
  margin-top: 10px; /* Adiciona margem superior para separar o nome da imagem */
}

.notebook .preco {
  display: flex;
  flex-direction: column; /* Exibe os preços em colunas */
  text-align: center;
  margin: 10px 0; /* Adiciona margens para espaçamento */
}

.notebook .preco p {
  margin: 5px 0; /* Margem vertical entre os preços */
}

.notebook button {
  display: inline-block;
  text-decoration: none;
  color: #f8f8f8;
  font-weight: bold;
  background: #007BFF;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: auto; /* Adiciona margem superior automática para empurrar o botão para o final do contêiner */
  align-self: end; /* Garante que os botões estejam alinhados ao final do contêiner */
}

/* Restaurar efeito 3D */
.notebook:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

.notebook button:hover {
  background: #0056b3;
}

/* Estilo para o botão de adicionar ao carrinho */
.adicionar-carrinho {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #28a745;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Margem superior para espaçamento */
  align-self: end; /* Garante que os botões estejam alinhados ao final do contêiner */
}

.adicionar-carrinho:hover {
  background: #218838;
}

/* Estilo para o contêiner dos botões de ação */
.botoes-acoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; 
}

.botoes-acoes button {
  width: 100px; /* Define uma largura fixa */
  height: 40px; /* Define uma altura fixa */
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-acoes .btn-remover {
  background-color: #EB1E1E;
}

.botoes-acoes .btn-editar {
  background-color: #30E738;
}

.botoes-acoes .btn-remover:hover {
  background-color: #D21717;  /* Use uma cor vermelha mais escura para o hover */
}

.botoes-acoes .btn-editar:hover {
  background-color: #28C72A;  /* Use uma cor verde mais escura para o hover */
}




.contact {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.depoimentos h1 {
  text-align: center;
  margin: 2rem;
}

.contact-container {
  position: absolute;
  bottom: -80rem;
  right: 10rem;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}





/* Estilo para o modal do carrinho */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed; /* Fixa o modal na tela */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite rolagem se necessário */
  background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

/* Estilo para conteúdo do modal */
.modal-content {
  background-color: #ffffff;
  margin: 10% auto; /* Espaçamento para centralizar o modal verticalmente */
  padding: 2em; /* Utiliza unidades relativas para padding */
  border: 0.1em solid #888;
  width: 90%; /* Use percentagem para responsividade */
  max-width: 600px; /* Limite a largura máxima em percentagem */
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2); /* Adiciona sombra ao modal */
  overflow: auto; /* Permite rolagem do conteúdo do modal se necessário */
}

/* Remove o sublinhado do botão Finalizar Compra */
#finalizar-compra {
  text-decoration: none;
  color: inherit; /* Mantém a cor do texto do botão */
  background-color: #007BFF; /* Adicione um fundo azul ao botão */
  padding: 10px 20px; /* Adicione preenchimento ao botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Adiciona cantos arredondados */
  cursor: pointer; /* Adiciona um cursor de ponteiro ao passar o mouse */
  text-align: center; /* Centraliza o texto */
  display: inline-block; /* Define como um bloco inline */
}

#finalizar-compra:hover {
  background-color: #0056b3; /* Muda a cor de fundo ao passar o mouse */
}


/* Ajuste para telas maiores */
@media (min-width: 37.5em) { /* Aproximadamente 600px */
  .modal-content {
      width: 70%; /* Aumenta a largura para telas maiores */
  }
}

@media (min-width: 62em) { /* Aproximadamente 992px */
  .modal-content {
      width: 50%; /* Aumenta a largura para telas maiores */
  }
}

/* Estilo para botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 1.5em; /* Utiliza unidades relativas para fonte */
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Estilo para os itens do carrinho */
.item-carrinho {
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid #ddd;
  padding: 1em 0;
}

.item-carrinho img {
  margin-right: 1.25em;
}

.item-carrinho h3 {
  margin: 0 0 0.3em 0;
}

.item-carrinho p {
  margin: 0;
}

.item-carrinho button {
  margin: 0.3em;
  padding: 0.5em 1em;
  background-color: #007BFF; /* Cor principal do site */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25em;
}

.item-carrinho button:hover {
  background-color: #0056b3;
}

/* Estilo para total do carrinho */
.total-carrinho {
  text-align: right;
  font-weight: bold;
  margin-top: 1em;
}

/* Estilo para botão de finalizar compra */
#finalizar-compra {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.25em;
  display: block;
  width: 100%;
  margin-top: 1.25em;
}

#finalizar-compra:hover {
  background-color: #218838;
}


/* Estilo para o Modal do Perfil */
.modal-perfil {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 300px; /* Ajuste a largura conforme necessário */
  height: 50%; /* Definir a altura para 70% da tela */
  background-color: #f4f4f4; /* Fundo sólido claro */
}

.modal-content-perfil {
  background-color: #ffffff; /* Fundo branco */
  margin: 15% auto; /* Ajuste de margem para centralizar verticalmente */
  padding: 20px;
  border: 1px solid #ddd; /* Borda cinza clara */
  border-radius: 8px; /* Cantos arredondados */
  height: 100%;
  overflow-y: auto; /* Permite rolagem vertical */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para um efeito de profundidade */
  font-family: 'Roboto', sans-serif; /* Fonte Roboto para um toque moderno */
}

.close-perfil {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-perfil:hover,
.close-perfil:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para o conteúdo do modal */
#modal-content-dynamic ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#modal-content-dynamic ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#modal-content-dynamic ul li a,
#modal-content-dynamic a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#modal-content-dynamic ul li a:hover,
#modal-content-dynamic a:hover {
  color: #007BFF; /* Cor de destaque ao passar o mouse */
}


/* Estilo para notificações */
.notificacao {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s;
}

.notificacao.mostrar {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.notificacao.esconder {
  opacity: 0;
  transform: translateY(-20px);
}


footer {
  background-color: #f8f8f8; /* Fundo claro */
  color: #333; /* Texto escuro para contraste */
  padding: 30px 0;
  border-top: 3px solid #3498db; /* Borda superior azul clara */
  border-bottom: 3px solid #3498db; /* Borda inferior azul clara */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; /* Fundo das seções */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.footer-section {
  flex: 1;
  padding: 10px 20px;
  background-color: #ffffff; /* Fundo das seções */
}

.footer-section h3 {
  color: #333; /* Título escuro */
  border-bottom: 2px solid #3498db; /* Borda inferior azul clara */
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

/* Removendo os marcadores da lista na seção de links úteis */
.footer-section.links ul {
  list-style: none;
  padding: 0;
}

/* Estilizando os links úteis */
.footer-section.links ul li {
  margin-bottom: 8px;
}

.footer-section.links a {
  color: inherit; /* Retira as cores dos links úteis */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section.links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #ecf0f1; /* Fundo cinza claro */
  color: #333; /* Texto escuro */
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}

.footer-bottom p {
  margin: 0;
}
